.contact-info {
    display: flex;
    justify-content: space-between;
  }
  
  .cards {
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  