<h2 class="mb-5"></h2>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://img.freepik.com/premium-vector/modern-sale-banner-website-slider-template-design_54925-45.jpg?w=996" alt="img 1" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://img.freepik.com/premium-vector/modern-sale-banner-website-slider-template-design_54925-45.jpg?w=996" alt="img 2" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://img.freepik.com/premium-vector/online-shop-banner-template_653829-23.jpg" alt="img 3" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://img.freepik.com/premium-vector/online-shop-banner-template_653829-23.jpg" alt="img 4" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://img.freepik.com/premium-vector/modern-sales-banner-template_554907-452.jpg?w=360" alt="img 5" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://img.freepik.com/premium-vector/modern-sales-banner-template_554907-452.jpg?w=360" alt="img 6" />
    </div>
  </ng-template>
</owl-carousel-o>





<div class="contact-info">
  <div class="cards">
    <h1>Free Shipping</h1>
    <p>You can ship your items:</p>
    Free 30 days shipping promo:
    <p>ship4free@gmail.com</p>
  </div>

  <div class="cards">
    <h1>30 Days return</h1>
    <p>Info about our return policy:</p>
    There is a 30 days return policy:
    <p>returnproducts@gmail.com</p>
  </div>

  <div class="cards">
    <h1>Pay over here</h1>
    <p>You can pay over here:</p>
    There is a 30 days discount price promo:
    <p>payoverhere@gmail.com</p>
  </div>
</div>
















<h2 *ngIf="ListTitle !== ''">{{ListTitle}}</h2>
<div class="container">
<div class="row">
  
    <mat-card class="col-md-3" *ngFor="let product of products; index as i;">
      
      <img mat-card-image class="product-image" src="{{product?.image}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h4>
          <a [routerLink]="['/product', product?.id, product?.title]"
          [queryParams]="{desc: product?.description}">{{product?.title}} </a>
        </h4>
        <p>
          {{product?.price}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<!--mat-card *ngFor="let product of products; index as i;" [ngClass]="i%2 !== 0 ? 'alt-row' : ''"-->
    <!--mat-card-header>
      <mat-card-title>{{product?.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{product?.description}}</p>
    </mat-card-content>
    <mat-card-actions>

      <button mat-flat-button color="primary" (click)="onShare(product)">SHARE</button>
    </mat-card-actions>
  </mat-card-->











