<!--app-tool-bar></app-tool-bar-->

<!-- <app-my-carts></app-my-carts> -->

<!--app-checkout></app-checkout-->

<!--header></header-->
<app-header></app-header>
<h2 class="mb-5"></h2>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://img.freepik.com/premium-vector/modern-sale-banner-website-slider-template-design_54925-45.jpg?w=996" alt="img 1" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/136962209/original/93e17478a6d264d9cfdad728a71675f414e8414d/design-your-shopping-store-banner-sliders.jpg" alt="img 2" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://img.freepik.com/premium-vector/flat-design-geometric-horizontal-banner_23-2149953316.jpg" alt="img 3" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://img.freepik.com/premium-vector/online-shop-banner-template_653829-23.jpg" alt="img 4" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://img.freepik.com/premium-vector/modern-sales-banner-template_554907-452.jpg?w=360" alt="img 5" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9zdGF0aWMvaW1hZ2VzL3dlYnNpdGUvMjAyMi0wNS91cHdrNjE4NDMxMTgtd2lraW1lZGlhLWltYWdlLWtvd2M1Zmw3LmpwZw.jpg?s=Vb1RVQjGz_VMc9Ve5xg27qe9Wly0pwSmc1fzWoLKJQA" alt="img 6" />
    </div>
  </ng-template>
</owl-carousel-o>


<!--app-carousel></app-carousel-->

<app-ship-component></app-ship-component>
    <!--pp-product-list></app-product-list-->
    <router-outlet></router-outlet>
<app-footer></app-footer>

<!--footer>
  <app-footer></app-footer>
</footer-->
