<!--div class="contact-info">
    <div class="cards">
        <h1>Free Shipping</h1>
    <p>
        You can ship your items: 
        
    </p>
        Free 30 days shipping promo:
        <p>ship4free@gmail.com</p>
        
     <i class="card-icon far fa-envelope "></i>
    </div>


    <div class="contact-info">
        <div class="cards">
            <h1>30 Days return</h1>
        <p>
            INfo about our return policy: 
            
        </p>
        There is a 30 days return policy:
        <p>returnproducts@gmail.com</p>
    
            
         <i class="card-icon far fa-envelope "></i>
        </div>

        <div class="contact-info">
            <div class="cards">
                <h1>Pay over here</h1>
            <p>
                You can pay over here: 
                
            </p>
            There is a 30 days discount price promo:
            <p>payoverhere@gmail.com</p>
        
                
             < class="card-icon far fa-envelope "></i>
            </div-->

