/*.footer {
    background-color:black;
    padding: 20px;
    color: white;
    border: black;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;
    background-color: black;
  }
  
  .footer-section {
    margin-bottom: 20px;
    background-color: black;
  }
  
  .footer-section h3 {
    font-size: 18px;
    background-color: black;
  }
  
  .social-media a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    background-color: black;
  }
  
  .footer-bottom {
    margin-top: 0px;
    text-align: center;
    background-color: black;
    color: white;

  }*/

  footer {
    position: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 20px;
  }
  footer {
    color: white;
  }
  
  
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .social-media {
    display: flex;
  }
  
  .social-media a {
    margin-right: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    
  }
  
  